<!-- BEGIN: Aside Menu -->
<div id="m_ver_menu"
     class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark "
     m-menu-vertical="1"
     m-menu-scrollable="0" m-menu-dropdown-timeout="500">

    @*<ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow ">
        <li class="m-menu__section  m--marginless ">
            <h4 class="m-menu__section-text">
                ACCIONES
            </h4>
            <i class="m-menu__section-icon"></i>
        </li>
        <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover">
            <a href="@Url.Action("Pedidos", null, new { area = "Manager", controller = "Procesos" }, Request.Url?.Scheme)" class="m-menu__link">
                <i class="m-menu__link-icon  flaticon-diagram "></i>
                <span class="m-menu__link-text">
                    Pedidos
                </span>
            </a>
        </li>
        <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover">
            <a href="@Url.Action("Boletas", null, new { area = "Manager", controller = "Procesos" }, Request.Url?.Scheme)" class="m-menu__link">
                <i class="m-menu__link-icon  flaticon-diagram "></i>
                <span class="m-menu__link-text">
                    Boletas
                </span>
            </a>
        </li>
        <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover">
            <a href="@Url.Action("VerReportes", null, new { area = "Manager", controller = "Procesos" }, Request.Url?.Scheme)" class="m-menu__link">
                <i class="m-menu__link-icon  flaticon-diagram "></i>
                <span class="m-menu__link-text">
                    Reportes
                </span>
            </a>
        </li>
    </ul>*@
    <ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow ">
        <li class="m-menu__section  m--marginless ">
            <h4 class="m-menu__section-text">
                MANTENIMIENTO
            </h4>
            <i class="m-menu__section-icon"></i>
        </li>
        <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover">
            <a href="@Url.Action("Index", null, new { area = "Admin", controller = "Cocheras" }, Request.Url?.Scheme)" class="m-menu__link">
                <i class="m-menu__link-icon  flaticon-suitcase"></i>
                <span class="m-menu__link-text">
                    Cocheras
                </span>
            </a>
        </li>
        <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover">
            <a href="@Url.Action("Index", null, new { area = "Admin", controller = "Personas" }, Request.Url?.Scheme)" class="m-menu__link">
                <i class="m-menu__link-icon  flaticon-suitcase"></i>
                <span class="m-menu__link-text">
                    Personas
                </span>
            </a>
        </li>
        <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover">
            <a href="@Url.Action("Index", null, new { area = "Admin", controller = "Empresas" }, Request.Url?.Scheme)" class="m-menu__link">
                <i class="m-menu__link-icon  flaticon-suitcase"></i>
                <span class="m-menu__link-text">
                    Empresas
                </span>
            </a>
        </li>
        <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover">
            <a href="@Url.Action("Index", null, new { area = "Admin", controller = "Usuarios" }, Request.Url?.Scheme)" class="m-menu__link">
                <i class="m-menu__link-icon  flaticon-suitcase"></i>
                <span class="m-menu__link-text">
                    Usuarios
                </span>
            </a>
        </li>
        <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover">
            <a href="@Url.Action("Index", null, new { area = "Admin", controller = "CocheraUsuarios" }, Request.Url?.Scheme)" class="m-menu__link">
                <i class="m-menu__link-icon  flaticon-suitcase"></i>
                <span class="m-menu__link-text">
                    Cochera-Empleado
                </span>
            </a>
        </li>

    </ul>
</div>
<!-- END: Aside Menu -->