@model IEnumerable<SistemaParqueo.Models.Reserva>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ReservaEstado.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Servicio.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vehiculo.Placa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.horaReservaLlegada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.horaReservaSalida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.horaSistemaLLegada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.horaSistemaSalida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Costo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ReservaEstado.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Servicio.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vehiculo.Placa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.horaReservaLlegada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.horaReservaSalida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.horaSistemaLLegada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.horaSistemaSalida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Costo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ReservaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ReservaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ReservaId })
        </td>
    </tr>
}

</table>
